body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 15px;
  background: #ffffff;
  font-weight: 300;
  margin: 0;
}


.gallery {
   height: 120px;
   display: inline-block;
}

.user-bar {
  background-color: #333;
  height: 46px;
}

.main-menu {
  background-color: rgb(88, 88, 88);
}

.sub-menu {
  background-color: #aaafb4;
  /* margin-left: 15%; */
  padding: 0;
  border: 0;
  /* width: 20%; */
  position: fixed;
  /* height: 100%; */
  overflow: auto;
  height: 120px;
  width: 100%;
  /* margin-top: 80px; */
}

.show-panel{
  margin-top: 120px;
  width: 500px; 
  white-space: nowrap;
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


/* i only want this on some li elements. not all. */
li.hoverMe:hover:not(.active) {
  background-color: #111;
}

input[type="button" i], input[type="submit" i], input[type="reset" i] {
  all: unset;
}


/* BOARD CSS */

.tile1, .tile2, .tile3, .tile4, .tile5, .tile6, .tile7, .tile8, .blank {
  width: 160px;
  height: 160px;
}


.tile1 {
  background-position: left top;
}
  
.tile2 {
  background-position: center top;
}

.tile3 {
  background-position: right top;
}
 

.tile4 {
  background-position: left center;
}
    

.tile5 {
  background-position: center center;
}
   
 
.tile6 {
  background-position: right center;
}
   
.tile7 {
  background-position: left bottom;
}
   
.tile8 {
  background-position: center bottom;
}
    
   
.blank {
  background: white;
}
    