body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 15px;
  background: #ffffff;
  font-weight: 300;
  margin: 0;
}

.gallery {
   height: 120px;
}

.user-bar {
  background-color: #606264;
  height: 5%;

}

.main-menu {
  width: 15%;
  background-color: #7c8085;
  /* margin: 0; */
  padding: 0;
  border: 0;
  width: 15%;
  position: fixed;
  height: 100%;
  overflow: auto;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}



.sub-menu {
  background-color: #aaafb4;
  margin-left: 15%;

  padding: 0;
  border: 0;
  width: 20%;
  position: fixed;
  height: 100%;
  overflow: auto;

}

.show-panel{
  margin-left: 35%;

}


/* BOARD CSS */

.tile1, .tile2, .tile3, .tile4, .tile5, .tile6, .tile7, .tile8, .blank {
  width: 160px;
  height: 160px;
}


.tile1 {
  background-position: left top;
}
  
.tile2 {
  background-position: center top;
}

.tile3 {
  background-position: right top;
}
 

.tile4 {
  background-position: left center;
}
    

.tile5 {
  background-position: center center;
}
   
 
.tile6 {
  background-position: right center;
}
   
.tile7 {
  background-position: left bottom;
}
   
.tile8 {
  background-position: center bottom;
}
    
   
.blank {
  background: white;
}
    